# 데이터 캠퍼스의 빅데이터 콘서트 Day1

## 1. 숫자데이터를 이용한 선형회귀분석
### 1-1.데이터불러오기와 구조파악

In [14]:
# 분석할 데이터 불러오기_ 암 환자의 증상에 대한 데이터를 불러와서 암판정 여부를 결정

import pandas as pd

data = pd.read_csv('E://data_concert/day1/Fixed_Length.csv', encoding = 'utf-8')
data.head()

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [15]:
# 데이터의 구조 확인
print(data.shape)

(683, 11)

### 1-2. 특성(x)과 레이블(y) 나누기

In [62]:
X = data[data.columns[1:10]]  # 특성
y = data[['Class']] #레이블

### 1-3. train data와 test data의 분리

In [63]:
#구분을 위해 필요한 라이브러리 불러오기
from sklearn.model_selection import train_test_split  # 자동으로 7:3으로 train-test를 구분해 줌

# 레이블이 범주형일 경우 stratify(계층화하다) 옵션을 추천한다.
X_train,X_test,y_train,y_test = train_test_split(X,y, stratify=y, random_state=42) #random_state,숫자는 임의의 숫자라도 됨

### 1-4.정규화

In [64]:
# 특성치(x)의 단위 정규화(데이터를 0~1사이로 바꿈)를 위한 라이브러리 불러오기(min-max)

from sklearn.preprocessing import MinMaxScaler
scaler_minmax = MinMaxScaler()

#### 가. train data의 정규화

In [65]:
# min-max방법으로 정규화
# fit은 학습데이터에 적용되는 기준을 말하는 것으로 test데이터에도 동일하게 적용되어야 한다는 의미

scaler_minmax.fit(X_train)
X_scaled_minmax_train = scaler_minmax.transform(X_train)

In [29]:
# 정규화한 데이터를 확인
pd.DataFrame(X_scaled_minmax_train).describe()

,0,1,2,3,4,5,6,7,8
count,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,0.372830,0.231988,0.242839,0.205078,0.241319,0.285590,0.269314,0.199002,0.067491
std,0.317836,0.334781,0.332112,0.319561,0.242541,0.404890,0.265289,0.331503,0.190373
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000
50%,0.333333,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000
75%,0.555556,0.361111,0.444444,0.333333,0.333333,0.583333,0.444444,0.222222,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### 나. test데이터의 정규화

In [66]:
X_scaled_minmax_test = scaler_minmax.transform(X_test)
pd.DataFrame(X_scaled_minmax_test).describe()

,0,1,2,3,4,5,6,7,8
count,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000,171.000000
mean,0.411306,0.259909,0.256010,0.198181,0.269006,0.274204,0.278752,0.233918,0.065627
std,0.298847,0.357544,0.332700,0.315307,0.259557,0.405891,0.292578,0.360958,0.199372
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000
50%,0.444444,0.000000,0.111111,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000
75%,0.555556,0.444444,0.444444,0.222222,0.388889,0.444444,0.444444,0.388889,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### 1-5. 모델 학습시키기

In [67]:
print(y_train.shape)

(512, 1)

In [68]:
# 이 모델의 학습에 적합한 알고리즈믕로 L0gisticRegression을 불러옴
# 분석은 정규화한 데이터로 함.

from sklearn.linear_model import LogisticRegression
model =LogisticRegression()
model.fit(X_scaled_minmax_train, y_train)

C:\Users\Richard Baek\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

### 1-6. 모델평가

In [71]:
#분류예측결과(0,1)을 'pred_train'에 저장하고 socre로 정확도(accuracy)를 확인

pred_train = model.predict(X_scaled_minmax_train)
model.score(X_scaled_minmax_train, y_train)

0.97265625

In [80]:
# 테스트 데이터에 대한 분류예측결과과 Score로 확인

pred_test = model.predict(X_scaled_minmax_test)
model.score(X_scaled_minmax_test, y_test)

0.9590643274853801

In [ ]:
# 학습데이터의 예측결과를 오차행렬로 보기

from sklearn.metrics import confusion_matrix
confusion_train = confusion_matrix(y_train, pred_train)
print("Train Data의 오차행렬 :\n", confusion_train)
# 분명히 똑 같이 코딩했음에도 샘플갯수가 맞지 않는다고 나옴... 엄청 돌겠음

In [85]:
confusion_test = confusion_matrix(y_test, pred_test)
print("Test Data의 오차행렬 :\n", confusion_test)

Test Data의 오차행렬 :
 [[106   5]
 [  2  58]]