<a href="https://colab.research.google.com/github/saonongjang/coding_excercise/blob/main/function_excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수

## 1. 함수 만들기

In [ ]:
# def를 이용하여 함수만들기

def my_function_1() :
  print('Hello')

print(my_function_1())

Hello
None

In [ ]:
def my_fn_add_10(x):
  y = x+10
  return y
output = my_fn_add_10(5)

print(output)

15

## 2.Local Function & Global Function

In [ ]:
def my_fn_add_10(x):
  #global y ---> y가 함수정의 밖에서도 적용되도록 하려면 global y로 정의함.
  y = x+10  #이 y는 함수 내에서만 적용되는 y값이다.
  print('Inside fn, y =' + str(y))
  return y

y=5  # 이 y 값은 함수 밖에 있으므로 함수내의 y와는 다른 y이다

my_fn_add_10(3)
print('Outside fn, y=' +str(y))

Inside fn, y =13
Outside fn, y=5

## 3. Input 변수의 초기화

In [ ]:
def my_fn_add_10_v2(x=5):   #x의 값을 지정해주면 다른 값이 들어오지 않으면 x값으로 초기화가 됨
  return x+10

print(my_fn_add_10_v2(50))

60

In [ ]:
#positional arguments

def my_fn_two_numbers(x1, x2):
  return x1+x2

print(my_fn_two_numbers(3,9)) #각각의 숫자가 순서대로 x1, x2에 대응

12

In [ ]:
#keyword arguments

def my_print(name, age=0, lan='NONE'): #age와 lan는 초기화를 시켜야 키값으로 찾을 수 있다. name은 초기호가 안되어 있음으로 무조건 제일 먼저와야 함.
  print(name +' ' + str(age) +' '+lan)

my_print('mingeol')
my_print('mingeol', 2, 'Python')
my_print('mingeol', lan='Python', age=2) #순서가 바뀌더라도 키값을 지정해주면 순서대로 출력됨

mingeol 0 NONE
mingeol 2 Python
mingeol 2 Python

In [ ]:
#arbitrary arguments - 임의로 들어오는 변수를 읽기

def my_print(*arguments) :  # *를 붙여 모든 변수를 읽도록 함. 
  for arg in arguments:
    print(arg)

my_print('MK', "KH", 'MK')

MK
KH
MK

In [ ]:
def my_add(*args): # 수많은 값들이 들어올 때 그 합을 구할 때 유용하게 쓰일 수 있음
  total =0
  for a in args:
    total += a
  return total

my_add(10,20,30,40,50,60)

210

In [ ]:
# *arguments 를 활용한 list만들기

def my_list() :
  print('input three numbers: ')
  print('Start #', 'End: #','Increment: #')
  print('For Example:0,5,1')

  ui = input('Waiting for input:')
  ui_list = [int(i) for i in ui.split(',')]
  out_list = list(range(*ui_list))

  return out_list

my_list()

input three numbers:
Start # End: # Increment: #
For Example:0,5,1
Waiting for input:5,20,2

[5, 7, 9, 11, 13, 15, 17, 19]

## Annotation - 주석달기

In [ ]:
def my_fn(num:int):
  out = num+10
  return out

print(my_fn.__annotations__) # 어떠한 형태의 입력 데이터가 와야 하는 지 알려줌

{'num': <class 'int'>}

In [ ]:
# 리턴되는 값도 어떠한 지를 보여줄 경우

def my_fn(num:int)->int:
  out = num+10
  return out

print(my_fn.__annotations__)

{'num': <class 'int'>, 'return': <class 'int'>}

## Lambda함수 
### 함수로 지정하는 것에 비해 훨씬 간편하게 함수를 만들기

In [ ]:
add_one = lambda x : x+1
add_one(1)

2

In [ ]:
add_one(5)

6

In [ ]:
add_one('a')  # 숫자가 아닌 것이 오면 에러

TypeError: ignored

In [ ]:
y = (lambda x: x+1)(10)  # 한줄로 람다함수를 만들 수 있음
print(y)

11

In [4]:
# 함수 안에 또다른 함수를 쓰기

def my_fn_add_10(x):
  return x+10

high_ord_fn = lambda x:x+my_fn_add_10(x)
high_ord_fn(2)

14

In [ ]:
# 함수를 입력변수로 가져오기

higr_ord_fn = lambda x, func:x +func(x)
high_ord_fn(2, lambda x : x+1)  # 주피터에서는 실행이 되는데 여기서는 왜  에러가 나지요?

TypeError: ignored

## map()

In [1]:
import numpy as np
a = np.array([1,2,3,4,5])
a*2

array([ 2,  4,  6,  8, 10])

In [2]:
a =[1,2,3,4,5]
a*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [6]:
b= list(map(my_fn_add_10, a)) # map 안에 있는 함수와 리스트를 서로 맵핑해줌
print(b)

[11, 12, 13, 14, 15]

In [8]:
b= list(map(lambda x : x*3, a)) # 미리 만들어 놓은 함수가 없을 경우 람다를 써서 만듬
print(b)

[3, 6, 9, 12, 15]

In [10]:
#string에 적용

vip_list = ['euler', 'newton','kepler']
vip_list_L = list(map(lambda x: x.upper(),vip_list))  #람다를 이용해 소문자를 모두 대문자로 바꿈
print(vip_list_L)

['EULER', 'NEWTON', 'KEPLER']

In [13]:
char_size = list(map(lambda x: len(x), vip_list))
print(char_size)

[5, 6, 6]

## Filter기능

In [14]:
#특정단어가 속한 항목만 추출하기

list(filter(lambda x: 'p' in x, vip_list))

['kepler']

In [21]:
# 짝수만 필터링하여 추출하기

num_list = list(range(0,11,1))
list(filter(lambda x: x%2==0, num_list))

[0, 2, 4, 6, 8, 10]

##reduce 연속적으로 연산을 수행

In [24]:
from functools import reduce

def my_fn_add(x,y):
  return x+y
reduce(my_fn_add, num_list) #순차적으로 리스트 안에 있는 숫자들을 연산하라

55

In [28]:
#떨어진 글자를 하나로 합치기

str_list = ['p','y','t','h','o','n']
str_list = list(map(lambda x :x.upper(), str_list))
reduce(lambda a, b: a+b, str_list)

'PYTHON'

In [29]:
#위의 반대, 하나의 문자열을 하나씩 나누기(반복문을 써서)

letter_list =[]
for letter in 'Python':
  letter_list.append(letter)
print(letter_list)

['P', 'y', 't', 'h', 'o', 'n']

In [30]:
#lambda를 사용하여 위와 똑같은 결과값 추출하기

letter_list_1 = list(map(lambda x: x, 'Python'))
print(letter_list_1)

['P', 'y', 't', 'h', 'o', 'n']