<a href="https://colab.research.google.com/github/saonongjang/coding_excercise/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EB%B0%98%EB%B3%B5%EB%AC%B8_%ED%98%BC%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 조건문과 반복문을 섞어서 쓰기

import numpy as np

# Find Max

x = np.array([10,15,12,18,16])

num_max = np.NINF  #리스트 내에 최대 수를 찾는 것을 함수화
for i in x:
  num_curr = i
  if num_max < num_curr:
    num_max = num_curr
print(num_max)

18

In [7]:
#숫자를 홀수와 짝수로 구분

x = np.array([1,2,3,4,5,6,7,8,9])
for i in x:
  if i%2 ==0:
    print('{}는 짝수입니다.'.format(i))
  else:
    print('{}는 홀수입니다'.format(i))

1는 홀수입니다
2는 짝수입니다.
3는 홀수입니다
4는 짝수입니다.
5는 홀수입니다
6는 짝수입니다.
7는 홀수입니다
8는 짝수입니다.
9는 홀수입니다

In [9]:
# 로그인 일정횟수를 제한하는 프로그램

UD = User_Database ={'u1':'1111','u2':'2222','u3':'3333'}

password_attempts = 3
while password_attempts >0:
  user_id = input('아이디를 입력하시오:')
  user_pw = input('비밀번호를 입력하시오:')
  if user_id in UD.keys() and user_pw in UD.values() :
    print('성공적으로 로그인되었습니다. ')
    break
  else:
    password_attempts -=1
    print('다시입력하여 주십시오')
    print('입력 횟수가 {}번 남았습니다.'.format(password_attempts))

아이디를 입력하시오:u1
비밀번호를 입력하시오:1212
다시입력하여 주십시오
입력 횟수가 2번 남았습니다.
아이디를 입력하시오:u1
비밀번호를 입력하시오:1234
다시입력하여 주십시오
입력 횟수가 1번 남았습니다.
아이디를 입력하시오:u3
비밀번호를 입력하시오:3333
성공적으로 로그인되었습니다.

In [11]:
# list comprehesion --> 일정한 조건으로 바로 리스트를 만들어 주는 방법

my_str ='Kyounghobaek'

my_str_2 =[letter for letter in my_str]
print(my_str_2)

['K', 'y', 'o', 'u', 'n', 'g', 'h', 'o', 'b', 'a', 'e', 'k']

In [13]:
num_list =[x for x in range(20) if x%2==0]
print(num_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [14]:
num_list =[x for x in range(20) if x%2!=0]
print(num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
num_list =[x for x in range(100) if x%2==0 if x%5==0] #짝수이면서 5의 배수
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [18]:
# dictionary comprehesion

squares = {x:x**2 for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [19]:
import sys, os

In [20]:
print(os.getcwd())

/content